#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #8a2a14;
    color: #FFF;
    padding: 10px 0; /* Adjust padding as needed */
    position: relative; /* Ensure positioning context for pseudo-element */
}

header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px; /* Adjust the height of the red bar */
    background-color: #8a2a14; /* Set the color of the red bar */
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.home-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    position: relative;
    max-width: 100%;
}

.image-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #8a2a14;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
}

.raft {
    max-width: 100%;
    height: auto;
}

.card-container {
    display: flex;
    flex-direction: row; /* Display items in a row */
    justify-content: space-between; /* Distribute items along the main axis */
}

.rivers-card,
.camping-card,
.rapids-card {
    flex-basis: 25%; /* Set the width of each card */
    padding: 8px; /* Add some padding between cards */
}

footer a {
    color: #8a2a14;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: #8a2a14;
}

footer {
    background-color: #8a2a14;
    color: #FFF;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative; /* Ensure positioning context for pseudo-element */
}

footer a {
    color: #FFF; /* Set the default color for all footer links to white */
    text-decoration: none;
}

footer a.site-plan,
footer a.contact-us {
    color: #FFF; /* Set the color for specific footer links to white */
}