nav, footer {
    background-color: rgb(180, 176, 70);
    color: black;
    padding: 10px;
}

footer p {
    font-size: 200px;
    margin: 200px auto;
}

a:hover {
    background-color: rgb(255, 78, 78);
    color: steelblue;
}
